{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Sign In Form</title>
    <link rel="stylesheet" href="{% static '/css/index_style.css' %}">
</head>
<body>
    <div class="div1">
        <div class="div2">
            <div class="div-welcome">Welcome To Sign In | Sign Up Form</div>
            <div class="div-login">
                <form action="">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Your Email"> <br>
                    <label for="">Password</label>
                    <input type="password" placeholder="Enter You Password"> <br>
                    <button class="div-login-btn" type="submit">Sign In</button>
                </form>
            </div>
            <div class="div-anchor"><a href="{% url 'register'%}">New Here! Sign Up Now</a></div>
        </div>
    </div>
</body>
</html> 