{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login_style.css' %}">
    <title>Sign Up Form</title>
</head>
<body>
    <div class="div-main">
        <div class="div-inner">
            <div class="div-form-main">
                <div class="div-create">Create You Sign Up Here!</div>
                <div class="div-login">
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token%}
                        <label for="">UserName</label>
                        <input type="text" placeholder="Enter Your Full Name" name="username"> <br>
                        <label for="">Email ID</label>
                        <input type="email" placeholder="Enter Your Email" name="email"><br>
                        <label for="">Password</label>
                        <input type="password" placeholder="Enter Your Password" name="password"><br>
                        <label for="">City</label>
                        <input type="text" placeholder="Enter Your City" name="city"><br>
                        <label for="">Phone No.</label>
                        <input type="tel" placeholder="Enter Your Number" name="phone_no"><br>
                        <label for="">DOB</label>
                        <input type="date" name="dob"><br>
                        <button class="div-login-btn" type="submit">Submit</button>
                    </form>
                </div>
                <div class="div-anchor"><a href="{% url 'signin' %}">Back To Login</a></div>
            </div>
        </div>
    </div>
</body>
</html>